.save-compile-button {
  position: absolute;
  border: none;
  border-radius: 3px;
  bottom: 0;
  margin: 18px;
  padding: 8px;
  background-color: rgb(98, 167, 167);
  cursor: pointer;
  width: 118px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.small-screen-toggler {
  position: absolute;
  border: none;
  border-radius: 3px;
  bottom: 40px;
  margin: 18px;
  padding: 8px;
  background-color: rgb(98, 167, 167);
  cursor: pointer;
  width: 118px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
