.folder-container {
  width: 160px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: #c4b7b7;

  .arrow-span {
    margin: 0;
    display: flex;
    justify-content: flex-end;

    .arrow-container {
      transform: scaleX(-1);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
}
